/* variables */
:root {
  --navBarColor: #094067;
  --navBarHighlightColor: #3da9fc;
  --navBarTextColor: #fffffe;
  --navBarTextColorHover: #ef4565;
  --secondaryColor:#90b4ce;
}
/* Body Css Set */
body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}
/* Typography CSS */

/* Set margin 0 */
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
/* element grid about-me paragraph decoration */
#about-paragraph p {
  color: var(--navBarColor);
  padding: 5px 15px;
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
}
/* navigation bar Left Logo h1*/
.navBarLeft h1 {
  color:var(--navBarTextColor);
  font-size: 22px;
}
/* navigation bar Left Logo h2*/
.navBarLeft h2 {
  color:var(--navBarTextColorHover);
  font-size: 20px;
}
/* container work projects page-section about & work & contact h2 decoration */
#about h2, #work h2, #contact h2{
  font-size: 30px;
  margin-right: 15px; 
  color: var(--navBarColor);
  }
/* nav element -> bio h2 */
.bio-box h2{
  font-size: 18px;
  color: var(--navBarColor);  
}
/* nav element -> bio h3 */
.bio-box h3{
  font-size: 16px;
  color: var(--navBarTextColorHover);  
}
/* work-projects-section h3 decoration */
.work-projects-section h3 {
background-color: var(--navBarColor);
padding: 1% 1% 0% 1%;
text-align: left;
width: 30%;
color: var(--navBarTextColor);
font-size: 18px;
}
/* work-projects-section h4 decoration */
.work-projects-section h4 {
  padding: 0% 1% 1% 1%;
  background-color: var(--navBarColor);
  text-align: left;
  width: 30%;
  color: var(--navBarTextColor);
  font-size: 14px;
  margin-bottom: 5%;
  font-weight:lighter;
}
/* element grid about-me contact links decoration */
#contact-links a {
  color: var(--navBarColor);
  border-bottom:3px solid var(--navBarColor);
  padding: 5px 15px;
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
}
/* element grid contact links hover decoration */
#contact-links a:hover{
  border-bottom:3px solid var(--navBarTextColorHover);  
  font-weight: bold;  
}
/* navigation bar Links */
.navBarRight a {
  color: var(--navBarTextColor);
  padding: 5px 15px;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
}
/* navigation bar Links Hover */
.navBarRight a:hover{
  border-bottom:3px solid var(--navBarTextColorHover);  
  font-weight: bold;
}
/* main logo / navigation bar */
.navBar {
  display: flex;
  background-color: var(--navBarColor);
  padding: 20px 0px;
}
/* navigation bar defenition */
.navBarLeft, .navBarCenter, .navBarRight {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* navigation bar Center & Left size */
.navBarCenter {
  width: 35%;
}
/* navigation bar Right size*/
.navBarRight {
  width: 50%;
}
/* navigation bar Left Logo */
.navBarLeft{
  width: 15%;
  background-color: var(--navBarHighlightColor);
  border-radius: 0px 5px 5px 0px;
  padding: 0px 10px;
}
/* Bio -> Main */
.bio-main {
  width: auto;
  height: 600px;
  background-size: cover;
  background-position: center;
  margin-bottom: 2%;
}
/* Bio -> Paragraph */
.bio-box {
  position:absolute;
  top: 30%;
  right: 17%;
  width: 500px;
  background-color: var(--secondaryColor);
  border-bottom: 10px solid var(--navBarTextColorHover);
  opacity: 0.8;
  padding: 25px 25px;
  text-align: right;
}
/* Bio -> Image */
/*
#bio-image {
  position: fixed;
  width: 200px;
  height: 200px;
  top: 30%;
  right: 5%;
}
*/
/* element grid definition*/
.page-wrapper {
  margin: 0px 5%;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 10% 1fr;
  grid-template-areas:
  "about about-paragraph "
  "work work-projects "
  "contact contact-links"
  ;
}
/* element grid position*/
.page-section {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  display: grid;
  align-content: end;
}
/* element grid about me section*/
#about {
  grid-area: about;
  border-right: 7px solid var(--navBarTextColorHover);
  align-content: start;
  justify-content: end;
  text-align: right;
}
/* element grid about me paragraph section*/
#about-paragraph {
  grid-area: about-paragraph;
  align-content: start;
  justify-content: start;
}
/* element grid work section*/
#work {
  grid-area: work;
  border-right: 7px solid var(--navBarTextColorHover);
  align-content: start;
  justify-content: end;
}
/* element grid work projects section*/
#work-projects {
  grid-area: work-projects;
  align-content: start;
  justify-content: start;
}
/* element grid contact section*/
#contact {
  grid-area: contact;
  border-right: 7px solid var(--navBarTextColorHover);
  align-content: center;
  justify-content: end;
  text-align: right;
}
/* element grid contact links */
#contact-links {
  grid-area: contact-links;
  align-content: center;
  justify-content: start;  
}
/* work projects container */
.work-projects-container{
   display: grid;
  grid-template-rows: 600px 300px 300px;
  grid-template-columns: 600px 600px;
  grid-template-areas:
  "featuredProject featuredProject "
  "project1 project2 "
  "project3 project4"
  ;
}
/* work projects element grid position*/
.work-projects-section {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 15px;
  cursor: pointer;
  display: grid;
  align-content: end;
  border: 3px solid var(--navBarColor);
}
/* element grid featuredProject section*/
#featuredProject {
  grid-area: featuredProject;
  background-image: url("../images/02-portfolio-4.jpg");
}
/* element grid project1 section*/
#project1 {
  grid-area: project1;
  background-image: url("../images/02-portfolio-1.jpg");
}
/* element grid project2 section*/
#project2 {
  grid-area: project2;
  background-image: url("../images/02-portfolio-2.jpg");
}
/* element grid project3 section*/
#project3 {
  grid-area: project3;
  background-image: url("../images/02-portfolio-3.jpg");
}
/* element grid project4 section*/
#project4 {
  grid-area: project4;
  background-image: url("../images/02-run-buddy.jpg");
}
/* mobile responsive website @media screen */
@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}